@charset "UTF-8";
/* CSS Document */

/*CSS til store skærme fx disktop*/



img {
    width: 100%;
    height: auto;
}


/*Media query indlejeret i dette stylesheet. Låser layoutet ved 1200px bredde*/
@media screen and (min-width:1400px){
	.container{
		max-width: none;
		margin: 0 auto;
	}
}